@font-face {
    font-family: 'iconSweetsRegular';
    src: url('../../../cbox-theme/assets/fonts/iconsweets-webfont.eot');
    src: url('../../../cbox-theme/assets/fonts/iconsweets-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../cbox-theme/assets/fonts/iconsweets-webfont.woff') format('woff'),
         url('../../../cbox-theme/assets/fonts/iconsweets-webfont.ttf') format('truetype'),
         url('../../../cbox-theme/assets/fonts/iconsweets-webfont.svg#iconSweetsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* FIXME: import actual font files for this font if we end up using it */ 
@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	src: local('Bitter-Regular'), url(http://themes.googleusercontent.com/static/fonts/bitter/v5/B2Nuzzqgk0xdMJ132boli-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
