// Colors

// General colors
$black: #000;
$white: #fff;
$mla-blue: #07d;

// Page colors
$page-background-color: #fafafa;
$page-text-color: #000;
$page-link-color: $mla-blue;
$page-link-hover-color: $mla-blue;

$level-minus-one-color: darken($page-background-color, 2%);
$level-minus-two-color: #eee;

// Tile colors
$tile-background-color: #fff;
$tile-border-color: #eee;

// Recessed colors
$recessed-background-color: #eee;

// Darker Tiles
$tile-background-color-darker: darken($tile-background-color, 10%);
$tile-border-color-darker: darken($tile-border-color, 10%);

// Input colors
$input-border-color-light: #eee;
$input-border-color-dark: #ddd;

// Button colors
$button-border-color: #eaeaea;
$button-shadow-color: #ddd;
$button-background-color: #ddd;
$button-active-background-color: #eaeaea;

// Table colors
$table-border-color: #eee;
$table-head-border-color: #ddd;
$table-hover-background-color: #fafafa;

$nav-primary-background-color: #3a3a50;
$nav-secondary-background-color: #345568;
$nav-tertiary-background-color: #20343f;
$nav-text-color: #fff;

// Footer Colors
$footer-bg-color: $nav-primary-background-color;
$footer-text: #fff;
