// Code

$code-background-color: #eee;
$code-border-color: #ccc;
$code-text-color: #369;

code {
  background-color: $code-background-color;
  border: solid 1px $code-border-color;
  border-radius: 3px;
  color: $code-text-color;
  margin: 0 2px;
  padding: 0 3px;
}
