// Headers

%header {
  font-family: $header-font-family;
  font-weight: $header-bold;
  line-height: 1.3em;
}

h1 {
  @extend %header;
  margin: 1em 0 0.5em 0;
}

h2 {
  @extend %header;
  margin: 1.2em 0 0.5em 0;
}

h3 {
  @extend %header;
  margin: 1.2em 0 0.5em 0;
}

h4,
h5,
h6 {
  @extend %header;
  margin: 0.5em 0;
}
