// Global definitions of dimensionality:
// tiled foreground areas, recessed text areas, etc.

=tile
  background-color: $tile-background-color
  border: 1px solid $tile-border-color
  border-bottom: 2px solid $tile-border-color
  border-radius: 3px
  padding: 1em

=recessed
  border: 1px solid $input-border-color-light
  border-top: 2px solid $input-border-color-dark
  border-left: 2px solid $input-border-color-dark
  padding: 10px
  &.search:before
    content: 'h'
