// Typography

$header-font-family: 'Roboto Slab', serif;
$text-font-family: proxima-nova, Helvetica, Arial, sans-serif;

$header-bold: 700;
$text-bold: 600;

$size-xl: 3em;
$size-l: 2em;
$size-m: 1.5em;
$size-ms: 1.1em;
$size-s: 1em;
$size-vs: 0.9em;
$size-xs: 0.7em;
