// Endnotes

// Colors
$endnote-background-color: #ff9;
$endnote-background-hover-color: #ff0;
$endnote-text-color: #333;
$endnote-text-hover-color: $black;

.footnotes {
  hr {
    display: none;
  }
}

sup {
  font-size: 0.8em;
  font-weight: $text-bold;
  line-height: 0;
}

sup a,
[rel='footnote'],
[rev='footnote'] {

  background-color: $endnote-background-color;
  border-radius: 5px;
  color: $endnote-text-color;
  display: inline-block;
  line-height: 1.2em;
  margin: 0 2px;
  padding: 2px 5px;
  text-decoration: none;

  &:hover {
    background-color: $endnote-background-hover-color;
    color: $endnote-text-hover-color;
  }

}
