// Footer

.site-footer
  background-color: $mla-blue
  bottom: 0
  color: $white
  height: 3em
  padding: 0
  position: absolute
  width: 100%
  p
    line-height: 3em
    margin: 0
    padding: 0
    text-align: center
  a
    color: $white
