// Form elements

.tile {
  background-color: $tile-background-color;
  border: 1px solid $tile-border-color;
  border-bottom: 2px solid $tile-border-color;
  border-radius: 3px;
  padding: 1em;
}

button {

  @extend .tile;

  &:hover,
  &.current {
    background-color: $button-active-background-color;
  }

  &:active {
    background-color: $button-background-color;
    border: 1px solid $button-border-color;
    border-bottom: 2px solid $button-border-color;
  }

  &.large {
    padding: 18px;
  }

  &.medium {
    padding: 13px;
  }

  &.small {
    font-size: 60%;
    padding: 8px;
  }

}

input {

  border-bottom: 1px solid $input-border-color-light;
  border-left: 2px solid $input-border-color-dark;
  border-right: 1px solid $input-border-color-light;
  border-style: solid;
  border-top: 2px solid $input-border-color-dark;
  border-width: 2px 1px 1px 2px;
  padding: 10px;

  &.search {
    &:before {
      content: 'h';
    }
  }

}

textarea {
  @extend input;
  height: 100px;
  width: 100%;
}
