// Masthead
#main-site-header
  display: flex
  align-items: baseline
  +tile
  .brand
    flex: 1 0
    font-size: $size-l
    font-weight: $header-bold
    color: $black
    white-space: nowrap
  nav
    display: inline
    @extend .tabarea-horizontal
    font-size: $size-ms
