// Masthead

.masthead {

  border-top: solid 10px $mla-blue;
  padding: 1.5em 1em 0.5em 1em;

  a {
    color: $black;
  }

}

.masthead-title {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}
