// Panels

// Colors
$panel-background-color: #fff;
$panel-border-color: #ccc;

.panel {
  background-color: $panel-background-color;
  border-color: $panel-border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin: 1.5em 0;
  padding: 0.5em 1em;
}
