// Tabs

%tabarea {

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  .tab {

    display: inline-block;
    padding: 0.5em;

    &.current,
    &:hover {
      border-color: $mla-blue;
    }

    &.current {
      font-weight: $text-bold;
    }

  }

}

.tabarea-horizontal {

  @extend %tabarea;

  li {
    display: inline;
  }

  .tab {
    border-bottom: 2px solid transparent;
    margin: 0 2px;
  }

}

.tabarea-vertical {

  @extend %tabarea;

  .tab {
    border-left: 2px solid transparent;
    display: block;
    margin: 5px 0;
  }

}
