// Layout containers

.container
  margin: 3em 1em

.item-list
  list-style-type: none
  li
    display: flex
    align-items: center;
    padding: 1%
    .item-avatar
      margin-right: 1em
    .item
      flex-grow: 1;

