// This file contains styles for CAC-Advanced-Profiles (CACAP), which we call
// "Portfolios."

// CACAP CSS is still getting loaded here, so we have to override some things,
// unfortunately.

// Colors
$cacap-tooltip-border-color: #666;
$cacap-tooltip-text-color: #000;
$cacap-tooltip-hover-background-color: #fafafa;
$cacap-tooltip-hover-link-color: #333;
$cacap-widget-background-color: #efefef;
$cacap-widget-border-color: #eee;
$cacap-widget-type-color: #333;
$cacap-widget-plus-color: #333;

#cacap-edit {
  margin-top: 2em;
}

.link-to-mla-org {
  font-size: 1.2em;
  margin-top: 0.6em;
}

#cacap-user-widget-new {

  background-color: $cacap-widget-background-color;
  border-bottom: 2px solid $cacap-widget-border-color;
  border-top: 2px solid $cacap-widget-border-color;
  padding: 10px 0;
  width: 100%;

  #cacap-user-widget-new-content {
    text-align: center;
  }

  #cacap-new-widget-types {

    line-height: 1em;

    a {
      text-decoration: none;
    }

    li {

      @extend button;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      height: 90px;
      line-height: 1.1em;
      margin-bottom: 10px;
      margin-right: 10px;
      padding: 3px;
      padding-top: 22px;
      text-align: center;
      vertical-align: top;
      width: 100px;

    }

  }

}

.cacap-has-max {

  opacity: 0.4;

  &:hover {

    background-color: $cacap-tooltip-hover-background-color;
    cursor: default;

    .cacap-has-max-tooltip {
      display: block;
    }

    a {
      color: $cacap-tooltip-hover-link-color;
      cursor: default;
    }

  }

}

.cacap-has-max-tooltip {
  background: $white;
  border: 1px solid $cacap-tooltip-border-color;
  color: $cacap-tooltip-text-color;
  display: none;
  font-size: 0.9em;
  height: 1.4em;
  opacity: 2;
  position: absolute;
}

.cacap-widget-type-name {
  color: $cacap-widget-type-color;
  display: block;
  line-height: 1.2em;
}

.cacap-plus {
  color: $cacap-widget-plus-color;
  font-size: 60px;
}

// Welcome "Bubble" Modal Dialog for CACAP

.remodal-confirm {
  @extend button;
  font-size: 14px;
  padding: 12px;
}

.remodal-close {
  // disable X button to clean it up a bit
  display: none;
}

// CACAP Hacks

// This is a somewhat unfortunate hack to hide Xprofile fields in CACAP.
// Removing the template doesn't quite do the trick, since that apparently
// causes CACAP not to save properly. But look in cac-advanced-profiles/
// templates/cacap/bp-profile-fields-edit.php and maybe there's a way to remove
// those entries and still have CACAP save everything properly?

.cacap-bp-profile-fields {
  display: none;
}
