// Styles for the search results page for the plugin BuddyPress Global Search

.search-results {
  // scss-lint:disable SelectorFormat
  .page-header,
  .bboss_search_form_wrapper {
    text-align: center;
  }
}

.search-field {
  @include recessed;
  margin-bottom: 2em;
}

.search-submit {
  display: none;
}
